*{
    margin: 0;
    padding: 0;
}

.parent{
    width: 50%;
    height: 50vh;
    /* background:linear-gradient(to left,white,purple); */
    /* background: radial-gradient(farthest-side at 60% 55%,red,yellow,green); */
    background:conic-gradient(red ,blue ,yellow ,green,purple,white);
    border-radius: 50%;

}